
* {
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
	 box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@font-face {
    font-family: "Champagne";
    src: url("../public/assets/fonts/champagne_&_limousines/Champagne_&_Limousines.ttf");
}
@font-face {
    font-family: "Champagne";
    src: url("../public/assets/fonts/champagne_&_limousines/Champagne_&_Limousines_Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Champagne Italic";
    src: url("../public/assets/fonts/champagne_&_limousines/Champagne_&_Limousines_Italic.ttf");
    font-style: italic, oblique;
}
@font-face {
    font-family: "Champagne Italic";
    src: url("../public/assets/fonts/champagne_&_limousines/Champagne_&_Limousines_Bold_Italic.ttf");
    font-weight: bold;
    font-style: italic, oblique;
}

body {
	width: 100%;
	height: 100%;
	background: #161616;
}

.content-wrap {
	margin: 0 auto;
	width: 978px;
	height: 800px;
	background: #848484;
}

#head-triangle {
	position: relative;
	width: 100%;
	height: 120px;
	background: #848484;
}

#head-line {
	position: relative;
	top: 80px;
	width: 100%;
	height: 20px;
	background: #ECE6D3;
	z-index: 1;
}

#head-triangle #title{
	position: absolute;
	left: calc(50% - 245px);
	top: 0;
	width: 490px;
	height: 240px;
	margin: 0 auto;
	padding-top: 20px;
	background: url("../public/images/head_triangle.png");
	background-size: 100% 100%;
	z-index: 3;
}

#head-triangle #title h1 {
	margin: 0 auto;
	width: -moz-max-content;
  	width: -webkit-max-content;
  	width: max-content;
	font-family: "Champagne";
}

#head-triangle #title #t-one{
	font-size: 1.8em;
	color: #ECE6D3;
}
#head-triangle #title #t-two {
	font-weight: normal;
	font-size: 1.4em;
	color: #ECE6D3;
}

#head-triangle #title #t-three , #head-triangle #title #t-four {
	font-weight: normal;
	font-size: 2em;
	color: #FF0A3E;
	/*-webkit-animation: neonTitle 1.5s ease-in-out infinite alternate;
  	   -moz-animation: neonTitle 1.5s ease-in-out infinite alternate;
  	    	animation: neonTitle 1.5s ease-in-out infinite alternate;*/
}

.head-help-tirangles {
	position: absolute;
	top: 0;
	left: calc(50% - 245px);
	width: 0;
	height: 0;
	background: transparent;
	border-top: 240px solid transparent;
	border-right: 245px solid #848484;
	border-bottom: 240px solid #848484;
	border-left: 245px solid #848484;
}

.neon-box {
	position: absolute;
	top: 115px;
	z-index: 3;
	background: #ECE6D3;
}

#neon-box-one {
	left: calc(50% - 300px);
	width: 350px;
	height: 5px;
	-webkit-transform: rotate(44.4deg); /* Safari */
    	-ms-transform: rotate(44.4deg); /* IE 9 */
    		transform: rotate(44.4deg);
    /*-webkit-animation: neonBar 1.5s ease-in-out infinite alternate;
  	   -moz-animation: neonBar 1.5s ease-in-out infinite alternate;
  	    	animation: neonBar 1.5s ease-in-out infinite alternate;*/
}

#neon-box-two {
	
	right: calc(50% - 300px);
	width: 353px;
	height: 5px;
	-webkit-transform: rotate(-44.4deg); /* Safari */
    	-ms-transform: rotate(-44.4deg); /* IE 9 */
    		transform: rotate(-44.4deg);
}

.neon {
	-webkit-animation: neonBar 1.5s ease-in-out infinite alternate;
  	   -moz-animation: neonBar 1.5s ease-in-out infinite alternate;
  	    	animation: neonBar 1.5s ease-in-out infinite alternate;
}

#box-op{
	position: absolute;
	top: 0;
	width: 100%;
	height: 1200px;
	background: #161616;
	z-index: 2;
}

#box-top{
	position: absolute;
	top: -400px;
	width: 100%;
	height: 400px;
	background: #161616;
	z-index: 2;
}

.intro {
	width: 100%;
	height: 300px;
	background: #272727;
}

#line-intro-1{
	display: none;
	position: relative;
	top: 110px;
	left: 252px;
	width: 480px;
	height: 20px;
	background: #ECE6D3;
	z-index: 1;
	-webkit-transform: rotate(44.4deg); /* Safari */
    	-ms-transform: rotate(44.4deg); /* IE 9 */
    		transform: rotate(44.4deg);
    		z-index: 1;
}

.inner-line {
	width: 0;
	height: 100%;
	background: #FF0A3E;
}


.inner-line.line-1, .inner-line.line-2 {
	position: relative;
	height: 100%;
	background: #ECE6D3;
}

.inner-line.line-1 {
	float: left;
	left: 0;
	width: 640px;
	z-index: 2;
}

.inner-line.line-2 {
	float: right;
	width: 338px;
	z-index: 2;
}

#line-intro-2 .inner-line {
	width: 100%;
	height: 100%;
	background: #ECE6D3;
}

#line-intro-2{
	display: none;
	position: relative;
	top: 42px;
	left: 460px;
	width: 228px;
	height: 20px;
	background: #FF0A3E;
	z-index: 1;
	-webkit-transform: rotate(-44.4deg); /* Safari */
    	-ms-transform: rotate(-44.4deg); /* IE 9 */
    		transform: rotate(-44.4deg);
    		z-index: 1;
}

.intro-section-left{
	position: relative;
	top: -40px;
	width: 400px;
	height: 300px;
	padding: 40px 0 0 0;
	background: #272727;
}

.intro-section-right{
	position: relative;
	float: right;
	right: 0;
	top: -320px;
	width: 400px;
	height: 300px;
	background: #272727;
	background-image: url('../public/images/humans.png');
	background-size: auto 100%;
}

.intro-section-right img{
	position: relative;
	height: 100%;
	width: auto;
	background-position: 20px 50px;
}

.title-1 {
	padding: 6px 0 6px 30px;
	width: 200px;
	height: 40px;
	font-size: 24px;
	font-family: "Champagne";
	background: #333333;
	color: #ECE6D3;
	border-bottom: 3px solid #FF0A3E;

}

.title-2 {
	margin-top: 10px;
	padding: 6px 0 6px 30px;
	width: 170px;
	height: 40px;
	font-size: 24px;
	font-family: "Champagne";
	background: #ECE6D3;
	color: #333333;
	border-bottom: 3px solid #FF0A3E;

}

.intro-section-left .info-box {
	margin-top: 20px;
	margin-left: 20px;
	width: 380px;
	height: 120px;
	background: #333333;
	color: #FFF;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21);
}

.intro-section-left .info-box .info-box-left{
	float: left;
	width: 20px;
	height: 100%;
	background: #FF0A3E;
}


.intro-section-left .info-box .info-box-right{
	padding: 10px;
	float: left;
	width: 320px;
	height: 100%;
}

.intro-section-left .info-box .info-box-right p{
	font-family: "Champagne";
	font-size: 0.9em;
}

#stepBtn-next-1{
	position: relative;
	float: left;
	left: calc(489px - 20px);
	bottom: 40px;
	width: 40px;
	height: 40px;
	border: 1px solid #FF0A3E;
	color: #FF0A3E;
	cursor: pointer;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);

	-webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;

  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
	
}

#stepBtn-next-1 i, #stepBtn-next-2 i, #stepBtn-next-3 i{
	position: relative;
	top: calc(50% - 8px);
	left: calc(50% - 10px);
}

#stepBtn-next-2{
	display: none;
	position: relative;
	float: left;
	left: calc(50% - 20px);
	top: 60px;
	width: 40px;
	height: 40px;
	border: 1px solid #FF0A3E;
	color: #FF0A3E;
	cursor: pointer;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);

	-webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;

  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
	
}

#stepBtn-next-3{
	display: none;
	position: relative;
	float: left;
	left: calc(50% - 20px);
	top: 40px;
	width: 40px;
	height: 40px;
	border: 1px solid #FF0A3E;
	color: #FF0A3E;
	cursor: pointer;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);

	-webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;

  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.stepBtn-next:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FF0A3E;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.stepBtn-next:hover {
  color: #FFF !important;
}
.stepBtn-next:hover:before, .stepBtn-next:focus:before, .stepBtn-next:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.stepBtn-next:focus,  .stepBtn-next:active {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Push */
@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}



#line-intro-end {
	position: absolute;
	width: 978px;
	height: 20px;
	background: #FF0A3E;
	z-index: 2;
}

#btn-hang {
	position: relative;
	top: 500px;
	left: calc(50% - 40px);
	border: 1px solid #FF0A3E;
	color: #FF0A3E;
	width: 80px;
	font-family: "Champagne";
	font-weight: bold;
	padding: 12px;
	cursor: pointer;

	-webkit-transform: translateZ(0);
  	transform: translateZ(0);

	-webkit-animation-name: hvr-hang-sink, hvr-hang;
	   -moz-animation-name: hvr-hang-sink, hvr-hang;
	        animation-name: hvr-hang-sink, hvr-hang;
	  -webkit-animation-duration: .3s, 1.5s;
	     -moz-animation-duration: .3s, 1.5s;
	          animation-duration: .3s, 1.5s;
	  -webkit-animation-delay: 0s, .3s;
	     -moz-animation-delay: 0s, .3s;
	          animation-delay: 0s, .3s;
	  -webkit-animation-timing-function: ease-out, ease-in-out;
	     -moz-animation-timing-function: ease-out, ease-in-out;
	          animation-timing-function: ease-out, ease-in-out;
	  -webkit-animation-iteration-count: 1, infinite;
	     -moz-animation-iteration-count: 1, infinite;
	          animation-iteration-count: 1, infinite;
	  -webkit-animation-fill-mode: forwards;
	     -moz-animation-fill-mode: forwards;
	          animation-fill-mode: forwards;
	  -webkit-animation-direction: normal, alternate;
	     -moz-animation-direction: normal, alternate;
	          animation-direction: normal, alternate;

	 -webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
			transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

#btn-hang:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FF0A3E;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#btn-hang:hover, #btn-hang:focus, #btn-hang:active {
	color: #ECE6D3;
}
#btn-hang:hover:before, #btn-hang:focus:before, #btn-hang:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}




/* HANG */

@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@-moz-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }

  100% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@-moz-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}


/* FIN - HANG*/

@-webkit-keyframes neonTitle {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF0A3E, 0 0 70px #FF0A3E, 0 0 80px #FF0A3E, 0 0 100px #FF0A3E, 0 0 150px #FF0A3E;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF0A3E, 0 0 35px #FF0A3E, 0 0 40px #FF0A3E, 0 0 50px #FF0A3E, 0 0 75px #FF0A3E;
  }
}

@-webkit-keyframes neonBar {
  from {
    box-shadow: 2px 2px 40px 5px #FF0A3E;
  }
  to {
    box-shadow: 2px 2px 40px 10px #FF0A3E;
  }
}

@-moz-keyframes neonTitle {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF0A3E, 0 0 70px #FF0A3E, 0 0 80px #FF0A3E, 0 0 100px #FF0A3E, 0 0 150px #FF0A3E;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF0A3E, 0 0 35px #FF0A3E, 0 0 40px #FF0A3E, 0 0 50px #FF0A3E, 0 0 75px #FF0A3E;
  }
}

@-moz-keyframes neonBar {
  from {
    box-shadow: 2px 2px 40px 5px #FF0A3E;
    background: #FFF;
  }
  to {
    box-shadow: 2px 2px 40px 10px #FF0A3E;
    background: #FFF;
  }
}

@keyframes neonTitle {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF0A3E, 0 0 70px #FF0A3E, 0 0 80px #FF0A3E, 0 0 100px #FF0A3E, 0 0 150px #FF0A3E;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF0A3E, 0 0 35px #FF0A3E, 0 0 40px #FF0A3E, 0 0 50px #FF0A3E, 0 0 75px #FF0A3E;
  }
}

@keyframes neonBar {
  from {
    box-shadow: 2px 2px 40px 5px #FF0A3E;
    background: #FFF;
  }
  to {
    box-shadow: 2px 2px 40px 10px #FF0A3E;
    background: #FFF;
  }
}


















